.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-top {
  padding-top: 62px;
  padding-bottom: 72px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .footer-title {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: $font-weight-bold;
  }
}

.horizontal-line {
  margin: 0;
  border: none;
  height: 2px;
  background-color: $color-text;
}

.footer-media {
  margin-right: 24px;
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 49px;

  .footer-menu-secondary {
    display: flex;

    li {
      padding-right: 16px;
    }
  }
}

.footer-menu-link {
  color: $color-secondary;
}

@media (max-width: 469px) {
  .footer-content {
    @include padding-content;
  }

  .footer-top {
    display: block;

    .col:not(:first-child) {
      margin-top: 30px;
    }
  }

  .footer-menu-secondary {
    flex-direction: column;

    li {
      padding-right: 0;
      margin-bottom: 16px;
    }
  }
}

@media (min-width: 470px) and (max-width: 839px) {
  .footer-content {
    @include padding-content;
  }

  .footer-top {
    display: block;

    .col:not(:first-child) {
      margin-top: 30px;
    }
  }
}

@media (min-width: 840px) and (max-width: 1200px) {
  .footer-content {
    @include padding-content;
  }
}