.page-description-main {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.page-description-content {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.header {
  display: flex;
  align-items: center;
  font-size: 11px;
  padding-top: 25px;
  color: $color-text;
}

.music-box {
  display: flex;
  align-items: center;
}

.music-box-logo {
  width: 24px;
  height: 24px;
}

.menu {
  display: flex;
  padding-left: 90px;

    li {
      padding-right: 24px;

      @include text-uppercase;

      &:last-child {
        padding-right: 0;
      }

      .active {
        color: $color-title;
      }
    }
}

.search-field {
  margin-left: auto;
}

.search {
  color: #757575;
  font-size: 13.3px;
  height: 25px;
  width: 248px;
  background-color: $color-dark;
  border-radius: 50px;
  border: 0 solid transparent;
  padding-left: 10px;

  @include text-uppercase;
}

.description {
  margin-top: 30px;
  margin-bottom: 17px;
  color: $color-title;
}

.form-field {
  max-width: 570px;
  margin: 0 auto;
}

.form-field-input {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 270px;
  min-height: 50px;
  padding-left: 30px;
  margin-bottom: 1.5rem;
  border: 2px solid $color-text;
  border-radius: 3px;
  background-color: transparent;
  box-sizing: border-box;

  &::placeholder {
    color: $color-title;
    opacity: 1;
  }
}

.btn-form {
  @include button;
  @include text-uppercase;

  background-color: $color-green;
  height: 57px;
  border: 0 solid transparent;
  font-size: 13.3px;
}


@media (max-width: 414px) {
  .page-description-content {
    @include padding-content;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;

    .music-box {
      font-weight: $font-weight-bold;
    }

    .menu {
      flex-direction: column;
      padding-left: 0;
      margin-top: 15px;
  
      .menu-list {
        font-weight: $font-weight-bold;
      }
    }

    .search-field {
      margin-top: 16px;
      margin-left: 0;
      width: 100%;
  
      .search {
        width: 100%;
      }
    }
  }

  .intro-section {
    margin-top: 78px;

    h1 {
      text-align: center;
    }

    .description {
      text-align: center;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .form-field-input {
    flex-direction: column;
    align-items: center;

    .form {
      width: 100%;
      font-weight: $font-weight-bold;
    }
  }
}

@media (min-width: 415px) and (max-width: 709px) {
  .page-description-content {
    @include padding-content;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;

    .menu {
      padding-left: 0;
      margin-top: 17px;
      }

      .search-field {
        margin-top: 18px;
        margin-left: 0;
        width: 100%;
    
        .search {
          width: 100%;
        }
      }
  }

  .intro-section {
    margin-top: 78px;

    h1 {
      text-align: center;
    }

    .description {
      text-align: center;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .form-field-input {
    flex-direction: column;
    align-items: center;

    .form {
      width: 100%;
    }
  }
}

@media (min-width: 710px) and (max-width: 899px) {
  .page-description-content {
    @include padding-content;
  }

  .header {
    .menu {
      padding-left: 0;
      }
  }

  .intro-section {
    margin-top: 78px;

    h1 {
      text-align: center;
    }

    .description {
      text-align: center;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}

@media (min-width: 415px) and (max-width: 1200px) {
  .page-description-main {
    box-sizing: border-box;

    @include padding-content;
  }
}