.news-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.news {
  display: grid;
  gap: 65px;
}

.news-item {
  .news-title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .news-content {
    margin-bottom: 24px;
  }

  .news-info {
    display: flex;
    margin-bottom: 48px;
    font-size: 12px;
    line-height: 1.6;

    .news-avatar {
      width: 19px;
      height: 19px;
    }

    .music-box-link-news {
    color: $color-accent;
    margin-right: 16px;
    }
  }

  .btn-album {
    padding: 16px 30px;
    font-size: 12px;
    width: 135px;
    color: $color-text;
  }
}

@media (max-width: 414px) {
  .news-container {
    flex-direction: column;
    
    &:nth-child(2n) {
      flex-direction: column-reverse;
    }

    .news-img {
      width: 100%;
    }

    .news-title {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: $font-weight-regular;
    }
  }
}

@media (min-width: 415px) and (max-width: 839px) {
  .news-container {
    flex-direction: column;
    
    &:nth-child(2n+1) {
      flex-direction: column-reverse;
    }

    .news-img {
      width: 100%;
    }

    .news-title {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: $font-weight-regular;
    }
  }
}