.discography-container {
  @include container();
}

.album {
  .discography-img {
    margin-bottom: 11px;

    @include set-size(250px);
  }

  .album-title {
    font-size: 18px;
    font-weight: $font-weight-bold;
  }

  .discography-year {
    color: $color-secondary;
  }
}

@media (max-width: 575px) {
  .discography-container {
    @include container(2, 140px, 3, auto);
  }

  .album {
    .discography-img {
      @include set-size($mobile-img-size);
    }
  }
}

@media (min-width: 576px) and (max-width: 829px) {
  .discography-container {
    @include container(3, 140px, 2, auto);
  }

  .album {
    .discography-img {
      @include set-size($mobile-img-size);
    }
  }
}


@media (min-width: 830px) and (max-width: 1199px) {
  .album {
    .discography-img {
      @include set-size($tablet-img-size);
    }
  }
}