.discography-title {
  margin-bottom: 48px;
}

.discography-container {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, auto);
  gap: 25px 50px;
}

.album {
  .discography-img {
    width: 250px;
    height: 250px;
    margin-bottom: 11px;
  }

  .album-title {
    font-size: 18px;
    font-weight: $font-weight-bold;
  }

  .discography-year {
    color: $color-secondary;
  }
}

@media (max-width: 575px) {
  .discography-container {
    grid-template-columns: repeat(2, 140px); // переделать не хардкодить размер ячейки
    grid-template-rows: repeat(3, auto);
  }

  .album {
    .discography-img {
      width: 137px;
      height: 137px;
    }
  }
}

@media (min-width: 576px) and (max-width: 829px) {
  .discography-container {
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(2, auto);
  }

  .album {
    .discography-img {
      width: 137px;
      height: 137px;
    }
  }
}


@media (min-width: 830px) and (max-width: 1199px) {
  .album {
    .discography-img {
      width: 150px;
      height: 150px;
    }
  }
}