.page-description-artist {
  background-image: url('../images/Morten Harket.png');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 223px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.artist-intro {
  margin-top: 200px;
}

.artist-buttons {
  display: flex;
  margin-top: 48px;
  gap: 1.5rem;
}

.arttist-subscribers{
  color: $color-title;
  margin-top: 16px;

}

.mix-btn {
  background-color: $color-purple;

  @include button-artist;
}

.favourite-btn {
  background-color: $color-red;

  @include button-artist;
}

.img-btn {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  filter: invert(1);
}

@media (max-width: 414px) {
  .artist-intro {
    margin-top: 55px;
  }

  .artist-buttons {
    flex-direction: column;
  }
}

@media (min-width: 415px) and (max-width: 1200px) {
  .page-description-artist {
    box-sizing: border-box;

    @include padding-content;
  }
}