.page-description-artist {
  @include background-image-cover('../images/Morten Harket.png');
}

.artist-intro {
  margin-top: 200px;
}

.artist-buttons {
  display: flex;
  margin-top: 48px;
  gap: 1.5rem;
}

.artist-subscribers{
  color: $color-title;
  margin-top: 16px;
}

.mix-btn {
  background-color: $color-purple;

  @include button-artist;
}

.favourite-btn {
  background-color: $color-red;

  @include button-artist;
}

.img-btn {
  margin-right: 16px;
  filter: invert(1);

  @include set-size(20px);
}

@media (max-width: 414px) {
  .artist-intro {
    margin-top: 55px;
  }

  .artist-buttons {
    flex-direction: column;
  }
}

@media (min-width: 415px) and (max-width: 1200px) {
  .page-description-artist {
    box-sizing: border-box;

    @include padding-content;
  }
}