.page-similar {
  margin-bottom: 100px;
}

.similar-container {
  @include container();
}

.similar-info {
  text-align: center;
}

@media (max-width: 575px) {
  .similar-container {
    @include container(2, 137px, 4, 230px);
  }

  .similar-item {
      .artist-img {
    @include set-size($mobile-img-size);
    }
  }
}

@media (min-width: 576px) and (max-width: 829px) {
  .similar-container {
    justify-items: center;

    @include container(3, auto, 3, auto);
  }

  .similar-item {
      .artist-img {
    @include set-size($mobile-img-size);
    }
  }
}


@media (min-width: 830px) and (max-width: 1199px) {
  .similar-item {
      .artist-img {
    @include set-size($tablet-img-size);
    }
  }

  .similar-container {
    justify-items: center;
  }
}