.page-similar {
  margin-bottom: 100px;
}

.similar-container {
  @include container();
}

.similar-img {
  @include set-size($desktop-img-size);
  margin-bottom: 15px;
}

.similar-info {
  text-align: center;

  .similar-artist {
    font-size: 18px;
    font-weight: $font-weight-bold;
  }
}

@media (max-width: 575px) {
  .similar-container {
    grid-template-columns: repeat(2, 137px);
    grid-template-rows: repeat(4, 230px);
  }

  .similar-img {
    @include set-size($mobile-img-size);
  }
}

@media (min-width: 576px) and (max-width: 829px) {
  .similar-container {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }

  .similar-img {
    @include set-size($mobile-img-size);
  }
}


@media (min-width: 830px) and (max-width: 1199px) {
  .similar-img {
    @include set-size($tablet-img-size);
  }

  .similar-container {
    justify-items: center;
  }
}