@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #CACACA;
  background-color: #08020D;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  text-decoration: none;
  color: #CACACA;
}

.page {
  padding-top: 100px;
  background-color: #08020D;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  margin-bottom: 50px;
}

.music-box-link {
  margin-left: 16px;
  text-transform: uppercase;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
}
.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.page-description-content {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.header {
  display: flex;
  align-items: center;
  font-size: 11px;
  padding-top: 25px;
  color: #CACACA;
}

.music-box {
  display: flex;
  align-items: center;
}

.music-box-logo {
  width: 24px;
  height: 24px;
}

.menu {
  display: flex;
  padding-left: 90px;
}
.menu li {
  padding-right: 24px;
  text-transform: uppercase;
}
.menu li:last-child {
  padding-right: 0;
}
.menu li .active {
  color: #FFFFFF;
}

.search-field {
  margin-left: auto;
}

.search {
  color: #757575;
  font-size: 13.3px;
  height: 25px;
  width: 248px;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: 0 solid transparent;
  padding-left: 10px;
  text-transform: uppercase;
}

.description {
  margin-top: 30px;
  margin-bottom: 17px;
}

.form-field {
  max-width: 570px;
  margin: 0 auto;
}

.form-field-input {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 270px;
  min-height: 50px;
  padding-left: 30px;
  margin-bottom: 1.5rem;
  border: 2px solid #CACACA;
  border-radius: 3px;
  background-color: transparent;
  box-sizing: border-box;
}
.form::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CACACA;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: transparent;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #34C176;
  height: 57px;
  border: 0 solid transparent;
}

@media (max-width: 414px) {
  .page-description-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .music-box {
    font-weight: 700;
  }
  .header .menu {
    flex-direction: column;
    padding-left: 0;
    margin-top: 17px;
  }
  .header .menu .menu-list {
    font-weight: 700;
  }
  .header .search-field {
    margin-top: 18px;
    margin-left: 0;
    width: 100%;
  }
  .header .search-field .search {
    width: 100%;
  }
  .intro-section {
    margin-top: 78px;
  }
  .intro-section h1 {
    text-align: center;
  }
  .intro-section .description {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .form-field-input {
    flex-direction: column;
    align-items: center;
  }
  .form-field-input .form {
    width: 100%;
    font-weight: 700;
  }
}
@media (min-width: 415px) and (max-width: 709px) {
  .page-description-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .menu {
    padding-left: 0;
    margin-top: 17px;
  }
  .header .search-field {
    margin-top: 18px;
    margin-left: 0;
    width: 100%;
  }
  .header .search-field .search {
    width: 100%;
  }
  .intro-section {
    margin-top: 78px;
  }
  .intro-section h1 {
    text-align: center;
  }
  .intro-section .description {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .form-field-input {
    flex-direction: column;
    align-items: center;
  }
  .form-field-input .form {
    width: 100%;
  }
}
@media (min-width: 710px) and (max-width: 899px) {
  .page-description-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header .menu {
    padding-left: 0;
  }
  .intro-section {
    margin-top: 78px;
  }
  .intro-section h1 {
    text-align: center;
  }
  .intro-section .description {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.pricing-cards {
  display: flex;
  justify-content: space-between;
}

.pricing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 615px;
  width: calc((100% - 100px) / 3);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 24px 1.5rem 64px;
}
.pricing-item .subscribe-title {
  font-size: 24px;
  margin-bottom: 200px;
  text-transform: uppercase;
}
.pricing-item .pricing-value {
  display: flex;
}
.pricing-item .pricing-value .pricing-value-price {
  font-size: 64px;
  line-height: 1em;
  margin-right: 16px;
  margin-bottom: 40px;
}
.pricing-item .pricing-value .pricing-value-currency {
  font-size: 32px;
  text-transform: uppercase;
}
.pricing-item .pricing-footer {
  color: #FFFFFF;
  font-size: 12.8px;
  text-align: center;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pracing-info {
  margin-top: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CACACA;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: transparent;
  box-sizing: border-box;
  text-transform: uppercase;
}

.btn-subscribe {
  height: 66px;
  width: 100%;
  margin-bottom: 64px;
  font-size: 16px;
  border-color: #FFFFFF;
}

.pracing-info {
  text-align: center;
}

.news-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 65px;
}
.news-container:last-child {
  margin-bottom: 0;
}

.news-item .news-title {
  font-size: 30px;
  margin-bottom: 30px;
}
.news-item .news-content {
  margin-bottom: 24px;
}
.news-item .news-info {
  display: flex;
  margin-bottom: 48px;
  font-size: 12px;
  line-height: 1.6;
}
.news-item .news-info .news-avatar {
  width: 19px;
  height: 19px;
}
.news-item .news-info .music-box-link-news {
  color: #F89202;
  margin-right: 16px;
}
.news-item .btn-album {
  padding: 16px 30px;
  font-size: 12px;
  width: 135px;
  color: #CACACA;
}

.page-app {
  margin-bottom: 100px;
}

.page-header {
  margin-bottom: 48px;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.app-container .app-info {
  margin-top: 16px;
}

.btn-download {
  margin-top: 16px;
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  background-color: #95390C;
  width: 131px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-top {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-top .footer-title {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: 700;
}

.horizontal-line {
  margin: 0;
  border: none;
  height: 1px;
  background-color: #CACACA;
}

.footer-media {
  margin-right: 24px;
}

.footer-bottom {
  padding: 2rem 0;
}
.footer-bottom .footer-menu-secondary {
  display: flex;
}
.footer-bottom .footer-menu-secondary li {
  padding-right: 16px;
}

.footer-menu-link {
  color: #E0E0E0;
}

/*# sourceMappingURL=style.css.map */
