@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #CACACA;
  background-color: #08020D;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  text-decoration: none;
  color: #CACACA;
}

.page {
  padding-top: 100px;
  margin: 0 auto;
  width: 1200px;
  padding-left: 20px;
  border-right-width: 20px;
  padding-right: 20px;
  background-color: #08020D;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  margin-bottom: 50px;
}

.music-box-link {
  margin-left: 16px;
  text-transform: uppercase;
}

.content-artist {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  .page {
    width: auto;
  }
  .content-artist {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 415px) and (max-width: 709px) {
  .content-artist {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 710px) and (max-width: 1199px) {
  .content-artist {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.page-description-main {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.page-description-content {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.header {
  display: flex;
  align-items: center;
  font-size: 11px;
  padding-top: 25px;
  color: #CACACA;
}

.music-box {
  display: flex;
  align-items: center;
}

.music-box-logo {
  width: 24px;
  height: 24px;
}

.menu {
  display: flex;
  padding-left: 90px;
}
.menu li {
  padding-right: 24px;
  text-transform: uppercase;
}
.menu li:last-child {
  padding-right: 0;
}
.menu li .active {
  color: #FFFFFF;
}

.search-field {
  margin-left: auto;
}

.search {
  color: #757575;
  font-size: 13.3px;
  height: 25px;
  width: 248px;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: 0 solid transparent;
  padding-left: 10px;
  text-transform: uppercase;
}

.description {
  margin-top: 30px;
  margin-bottom: 17px;
  color: #FFFFFF;
}

.form-field {
  max-width: 570px;
  margin: 0 auto;
}

.form-field-input {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 270px;
  min-height: 50px;
  padding-left: 30px;
  margin-bottom: 1.5rem;
  border: 2px solid #CACACA;
  border-radius: 3px;
  background-color: transparent;
  box-sizing: border-box;
}
.form::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CACACA;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: transparent;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #34C176;
  height: 57px;
  border: 0 solid transparent;
  font-size: 13.3px;
}

@media (max-width: 414px) {
  .page-description-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .music-box {
    font-weight: 700;
  }
  .header .menu {
    flex-direction: column;
    padding-left: 0;
    margin-top: 15px;
  }
  .header .menu .menu-list {
    font-weight: 700;
  }
  .header .search-field {
    margin-top: 16px;
    margin-left: 0;
    width: 100%;
  }
  .header .search-field .search {
    width: 100%;
  }
  .intro-section {
    margin-top: 78px;
  }
  .intro-section h1 {
    text-align: center;
  }
  .intro-section .description {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .form-field-input {
    flex-direction: column;
    align-items: center;
  }
  .form-field-input .form {
    width: 100%;
    font-weight: 700;
  }
}
@media (min-width: 415px) and (max-width: 709px) {
  .page-description-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .menu {
    padding-left: 0;
    margin-top: 17px;
  }
  .header .search-field {
    margin-top: 18px;
    margin-left: 0;
    width: 100%;
  }
  .header .search-field .search {
    width: 100%;
  }
  .intro-section {
    margin-top: 78px;
  }
  .intro-section h1 {
    text-align: center;
  }
  .intro-section .description {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .form-field-input {
    flex-direction: column;
    align-items: center;
  }
  .form-field-input .form {
    width: 100%;
  }
}
@media (min-width: 710px) and (max-width: 899px) {
  .page-description-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header .menu {
    padding-left: 0;
  }
  .intro-section {
    margin-top: 78px;
  }
  .intro-section h1 {
    text-align: center;
  }
  .intro-section .description {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 415px) and (max-width: 1200px) {
  .page-description-main {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.pricing-cards {
  display: flex;
  justify-content: space-between;
}

.pricing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 100px) / 3);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 24px 1.5rem 64px;
}
.pricing-item .subscribe-title {
  font-size: 24px;
  margin-bottom: 200px;
  text-transform: uppercase;
}
.pricing-item .pricing-value {
  display: flex;
}
.pricing-item .pricing-value .pricing-value-price {
  font-size: 64px;
  line-height: 1em;
  margin-right: 16px;
  margin-bottom: 40px;
}
.pricing-item .pricing-value .pricing-value-currency {
  font-size: 32px;
  text-transform: uppercase;
}
.pricing-item .pricing-footer {
  color: #FFFFFF;
  font-size: 12.8px;
  text-align: center;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CACACA;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: transparent;
  box-sizing: border-box;
  text-transform: uppercase;
}

.btn-subscribe {
  height: 66px;
  width: 100%;
  margin-bottom: 64px;
  font-size: 16px;
  border-color: #FFFFFF;
}

.pricing-info {
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 414px) {
  .pricing-cards {
    flex-direction: column;
    gap: 50px;
  }
  .pricing-cards .pricing-item {
    width: 100%;
    padding-top: 16px;
  }
  .pricing-cards .pricing-item .subscribe-title {
    font-size: 16px;
  }
}
@media (min-width: 415px) and (max-width: 709px) {
  .pricing-cards {
    flex-direction: column;
    gap: 50px;
  }
  .pricing-cards .pricing-item {
    width: 100%;
    padding-top: 16px;
  }
  .pricing-cards .pricing-item .subscribe-title {
    font-size: 16px;
  }
}
.news-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.news {
  display: grid;
  gap: 65px;
}

.news-item .news-title {
  font-size: 30px;
  margin-bottom: 30px;
}
.news-item .news-content {
  margin-bottom: 24px;
}
.news-item .news-info {
  display: flex;
  margin-bottom: 48px;
  font-size: 12px;
  line-height: 1.6;
}
.news-item .news-info .news-avatar {
  width: 19px;
  height: 19px;
}
.news-item .news-info .music-box-link-news {
  color: #F89202;
  margin-right: 16px;
}
.news-item .btn-album {
  padding: 16px 30px;
  font-size: 12px;
  width: 135px;
  color: #CACACA;
}

@media (max-width: 414px) {
  .news-container {
    flex-direction: column;
  }
  .news-container:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .news-container .news-img {
    width: 100%;
  }
  .news-container .news-title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
  }
}
@media (min-width: 415px) and (max-width: 839px) {
  .news-container {
    flex-direction: column;
  }
  .news-container:nth-child(2n+1) {
    flex-direction: column-reverse;
  }
  .news-container .news-img {
    width: 100%;
  }
  .news-container .news-title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
  }
}
.page-app {
  margin-bottom: 100px;
}

.page-header {
  margin-bottom: 48px;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.app-container .app-info {
  margin-top: 16px;
}
.app-container .app-img {
  width: 333px;
  height: 278px;
  margin: 0 auto;
}
.app-container .app-text:first-of-type {
  margin-bottom: 16px;
}

.btn-download {
  margin-top: 16px;
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  background-color: #95390C;
  width: 131px;
}

@media (max-width: 550px) {
  .app-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-top {
  padding-top: 62px;
  padding-bottom: 72px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-top .footer-title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}

.horizontal-line {
  margin: 0;
  border: none;
  height: 2px;
  background-color: #CACACA;
}

.footer-media {
  margin-right: 24px;
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 49px;
}
.footer-bottom .footer-menu-secondary {
  display: flex;
}
.footer-bottom .footer-menu-secondary li {
  padding-right: 16px;
}

.footer-menu-link {
  color: #E0E0E0;
}

@media (max-width: 469px) {
  .footer-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-top {
    display: block;
  }
  .footer-top .col:not(:first-child) {
    margin-top: 30px;
  }
  .footer-top .footer-title {
    margin-bottom: 16px;
  }
  .horizontal-line {
    height: 1px;
  }
  .footer-bottom {
    padding-bottom: 47px;
  }
  .footer-menu-secondary {
    flex-direction: column;
  }
  .footer-menu-secondary li {
    padding-right: 0;
    margin-bottom: 16px;
  }
}
@media (min-width: 470px) and (max-width: 839px) {
  .footer-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-top {
    display: block;
  }
  .footer-top .col:not(:first-child) {
    margin-top: 30px;
  }
}
@media (min-width: 840px) and (max-width: 1200px) {
  .footer-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.page-description-artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 223px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.artist-intro {
  margin-top: 200px;
}

.artist-buttons {
  display: flex;
  margin-top: 48px;
  gap: 1.5rem;
}

.arttist-subscribers {
  color: #FFFFFF;
  margin-top: 16px;
}

.mix-btn {
  background-color: #5328A1;
  width: 200px;
  height: 62px;
  font-size: 12.8px;
  border: none;
  padding: 20px 30px;
  justify-content: flex-start;
}

.favourite-btn {
  background-color: #95390C;
  width: 200px;
  height: 62px;
  font-size: 12.8px;
  border: none;
  padding: 20px 30px;
  justify-content: flex-start;
}

.img-btn {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  filter: invert(1);
}

@media (max-width: 414px) {
  .artist-intro {
    margin-top: 55px;
  }
  .artist-buttons {
    flex-direction: column;
  }
}
@media (min-width: 415px) and (max-width: 1200px) {
  .page-description-artist {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.popular-track-title {
  margin-bottom: 48px;
}

.tracks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}
.tracks .popular-track {
  display: flex;
}
.tracks .popular-track .album-img {
  width: 55px;
  height: 55px;
}
.tracks .popular-track .track-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  font-size: 12.8px;
}
.tracks .popular-track .track-info .track-name {
  font-size: 12.8px;
  font-weight: 700;
  text-transform: uppercase;
}
.tracks .popular-track .track-info .track-artist {
  color: #E0E0E0;
}

@media (max-width: 550px) {
  .tracks {
    display: flex;
    flex-direction: column;
  }
}
.discography-title {
  margin-bottom: 48px;
}

.discography-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 50px;
  row-gap: 25px;
}

.album .discography-img {
  width: 250px;
  height: 250px;
  margin-bottom: 11px;
}
.album .album-title {
  font-size: 18px;
  font-weight: 700;
}
.album .discography-year {
  color: #E0E0E0;
}

@media (max-width: 575px) {
  .discography-container {
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(3, auto);
  }
  .album .discography-img {
    width: 137px;
    height: 137px;
  }
}
@media (min-width: 576px) and (max-width: 829px) {
  .discography-container {
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(2, auto);
  }
  .album .discography-img {
    width: 137px;
    height: 137px;
  }
}
@media (min-width: 830px) and (max-width: 1199px) {
  .album .discography-img {
    width: 150px;
    height: 150px;
  }
}
.page-similar {
  margin-bottom: 100px;
}

.similar-title {
  margin-bottom: 48px;
}

.similar-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 50px;
  row-gap: 25px;
}

.similar-img {
  width: 250px;
  height: 250px;
  margin-bottom: 11px;
}

.similar-info {
  text-align: center;
}
.similar-info .similar-artist {
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 575px) {
  .similar-container {
    grid-template-columns: repeat(2, 137px);
    grid-template-rows: repeat(4, auto);
  }
  .similar-img {
    width: 137px;
    height: 137px;
  }
}
@media (min-width: 576px) and (max-width: 829px) {
  .similar-container {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }
  .similar-img {
    width: 137px;
    height: 137px;
  }
}
@media (min-width: 830px) and (max-width: 1199px) {
  .similar-img {
    width: 150px;
    height: 150px;
  }
  .similar-container {
    justify-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
