body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-bg;
  margin: 0;
}

h1 {
  @include heading-styles(60px);
}

h2 {
  @include heading-styles(38px);
}

h3 {
  font-weight: $font-weight-regular;
  color: $color-title;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  text-decoration: none;
  color: $color-text;
}

.page {
  padding-top: 100px;
  background-color: $color-bg;
}

.content {
  @include content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  margin-bottom: 50px;
}

.music-box-link {
  margin-left: 16px;

  @include text-uppercase;
}

.content-artist {
  @include content;
}

//Mobile
@media (max-width: 414px) {
  h1 {
    @include heading-styles-mobile(30px);
  }

  h2 {
    @include heading-styles-mobile(18px);
  }

  .content {
    @include padding-content;
  }

  .content-artist {
    @include padding-content;
  }
}

@media (min-width: 415px) and (max-width: 709px) {
  .content {
    @include padding-content;
  }

  .content-artist {
    @include padding-content;
  }
}

@media (min-width: 710px) and (max-width: 899px) {
  .content {
    @include padding-content;
  }

  .content-artist {
    @include padding-content;
  }
}