@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-text;
  border-radius: 5px;
  color: $color-title;
  background-color: transparent;
  box-sizing: border-box;
}

@mixin text-uppercase {
  text-transform: uppercase;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-bg;
  margin: 0;
}

h1, h2 {
  font-weight: $font-weight-bold;
  color: $color-title;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $color-title;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $color-title;
}

h3 {
  font-weight: $font-weight-regular;
  color: $color-title;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  text-decoration: none;
  color: $color-title;
}

.page {
  padding-top: 100px;
  background-color: $color-bg;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  margin-bottom: 50px;
}

.music-box-link {
  margin-left: 16px;

  @include text-uppercase;
}
