@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

$color-bg: #08020D;
$color-title: #FFFFFF;
$color-green: #34C176;
$color-secondary: #E0E0E0;
$color-accent: #F89202;
$color-text: #CACACA;
$color-purple: #5328A1;
$color-dark: #3C3B3D;
$color-red: #95390C;

$font-family: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-text;
  border-radius: 5px;
  color: $color-title;
  background-color: transparent;
  box-sizing: border-box;
}

@mixin text-uppercase {
  text-transform: uppercase;
}

@mixin heading-styles($font-size) {
  font-size: $font-size;
  font-weight: $font-weight-bold;
  color: $color-title;
  margin: 0;

  @include text-uppercase;
}

@mixin button-artist {
  width: 200px;
  height: 62px;
  font-size: 12.8px;
  border: none;
  padding: 20px 30px;
  justify-content: flex-start;
}

@mixin heading-styles-mobile($font-size) {
  font-size: $font-size;
  }

@mixin padding-content {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin content {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin container($columns: 4, $column-width: 250px, $rows: 2, $row-height: auto, $column-gap: 50px, $row-gap: 25px) {
  display: grid;
  grid-template-columns: repeat($columns, $column-width);
  grid-template-rows: repeat($rows, $row-height);
  gap: $row-gap $column-gap;
}

$mobile-img-size: 137px;
$tablet-img-size: 150px;
$desktop-img-size: 250px;

@mixin set-size($width, $height: $width) {
  width: $width;
  height: $height;
}